.traitbox {
   border: solid white ;
   padding: 2px ;
   margin: 2px ;
}
.xpbox {
   border: solid white round ;
   float: right ;
   padding: 2px ;
}
.advancement {
   border: solid yellow round ;
   padding: 2px ;
}
