   <p-table *ngIf="ablist" [value]="ablist.get()" [autoLayout]="true">
   <ng-template pTemplate="header">
        <tr>
            <th>Ability</th>
            <th>Specality</th>
            <th>Score</th>
            <th>XP</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ab>
        <tr>
	    <td class="clickable" (click)="onSelect(ab)">{{ab.label}}</td>
            <td>[{{ab.spec}}]</td>
            <td>{{ab.score}}</td>
            <td>{{ab.xp}}</td>
        </tr>
    </ng-template>
</p-table>


<p-sidebar [(visible)]="details" position="right">
   <ability-description [ability]="ability"></ability-description>
</p-sidebar>
