<!--
<p-table [value]="vf" [autoLayout]="true">
   <ng-template pTemplate="header">
        <tr>
	   <th>{{type}}</th>
            <th>Score</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trait>
        <tr *ngIf="trait">
            <td>{{trait["arm:hasLabel"] || "undefined"}}</td>
	    <td>{{getScore(trait)}}</td>
        </tr>
    </ng-template>
</p-table>
-->

<p-accordion [multiple]="true">
  <div *ngFor="let trait of vf">
     <p-accordionTab 
	  header="{{trait['arm:hasLabel']}} ({{getScore(trait)}})">
	<p>{{trait["arm:hasDetail"]}}</p>
	<h3>General Description</h3>
	<div [innerHTML]="trait['arm:hasGeneralDescription']"></div>
    </p-accordionTab>
  </div>
</p-accordion>
