<div *ngIf="ablist" class="p-grid">
   <div class="p-col-4">
      <p-card>
         <div style="font-size: 65%;" class="p-grid">
            <div class="p-col-6">Technique</div>
            <div class="p-col-3">Score</div>
            <div class="p-col-3">XP</div>
         </div>
         <app-art [trait]="ablist.get('Creo')"></app-art>
         <app-art [trait]="ablist.get('Intellego')"></app-art>
         <app-art [trait]="ablist.get('Muto')"></app-art>
         <app-art [trait]="ablist.get('Perdo')"></app-art>
         <app-art [trait]="ablist.get('Rego')"></app-art>
      </p-card>
   </div>
   <div class="p-col-4">
      <p-card>
         <div style="font-size: 65%;" class="p-grid">
           <div class="p-col-6">Form</div>
           <div class="p-col-3">Score</div>
           <div class="p-col-3">XP</div>
         </div>
         <app-art [trait]="ablist.get('Animal')"></app-art>
         <app-art [trait]="ablist.get('Aquam')"></app-art>
         <app-art [trait]="ablist.get('Auram')"></app-art>
         <app-art [trait]="ablist.get('Corpus')"></app-art>
         <app-art [trait]="ablist.get('Herbam')"></app-art>
      </p-card>
   </div>
   <div class="p-col-4">
      <p-card>
         <div style="font-size: 65%;" class="p-grid">
           <div class="p-col-6">Form</div>
           <div class="p-col-3">Score</div>
           <div class="p-col-3">XP</div>
         </div>
         <app-art [trait]="ablist.get('Ignem')"></app-art>
         <app-art [trait]="ablist.get('Imaginem')"></app-art>
         <app-art [trait]="ablist.get('Mentem')"></app-art>
         <app-art [trait]="ablist.get('Terram')"></app-art>
         <app-art [trait]="ablist.get('Vim')"></app-art>
      </p-card>
   </div>
</div>
