<p-table *ngIf="spells" [value]="spells" [autoLayout]="true" sortMode="multiple">
   <ng-template pTemplate="header">
        <tr>
           <th pSortableColumn="tech">Tech.
	       <p-sortIcon field="tech"></p-sortIcon></th>
           <th pSortableColumn="form">Form
	       <p-sortIcon field="form"></p-sortIcon></th>
           <th pSortableColumn="level">Lvl.
	       <p-sortIcon field="level"></p-sortIcon></th>
           <th pSortableColumn="spellName">Name
	       <p-sortIcon field="spellName"></p-sortIcon></th>
           <th pSortableColumn="range">Range
	       <p-sortIcon field="range"></p-sortIcon></th>
           <th pSortableColumn="duration">Duration
	       <p-sortIcon field="duration"></p-sortIcon></th>
           <th pSortableColumn="target">Target
	       <p-sortIcon field="target"></p-sortIcon></th>
            <th>Casting</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-spell>
        <tr class="spellrow">
            <td>{{spell.technique.substring(0,2)}}</td>
            <td>{{spell.form.substring(0,2)}}</td>
            <td>{{spell.level}}</td>
	    <td class="clickable" (click)="onSelect(spell)">{{spell.spellName}}</td>
            <td>{{spell.range}}</td>
            <td>{{spell.duration}}</td>
            <td>{{spell.target}}</td>
        </tr>
    </ng-template>
</p-table>

    <p-sidebar [(visible)]="spelldetails" position="right">
        Content
    </p-sidebar>


