<div class="p-grid">
  <div class="p-col-8">
    <div *ngIf="charsheet" class="header">
     {{character.name}}
     {{charsheet.get("inYear")}}
     {{charsheet.get("atSeason")}}
    </div>
  </div>
  <div class="p-col-4">
    <div *ngIf="charsheet" class="header">
        <p-button label="<" icon="pi pi-plus" (click)="prevSeason()"></p-button>
	<app-season-selector>
	</app-season-selector>
        <p-button label=">" icon="pi pi-plus" (click)="nextSeason()"></p-button>
    </div>
  </div>
  <div class="p-col-8">
    <app-charhead [charsheet]="character"></app-charhead>
    <app-charsheet [charsheet]="charsheet"></app-charsheet>
  </div>
  <div class="p-col-4">
    <app-character-advancement [char]="character"></app-character-advancement>
  </div>
</div>

<!--
<p-scrollPanel [style]="{width: '100%', height: '800px'}">
</p-scrollPanel>
-->
<!--
<p-scrollPanel [style]="{width: '100%', height: '600px'}">
</p-scrollPanel>
-->
