<div *ngIf="saga">
<h1>{{saga.title}}</h1>

<p>{{saga.description}}</p>

<p-table [value]="saga.get('hasCharacter')" [autoLayout]="true"> 
    <ng-template pTemplate="header">
        <tr>
            <th>Character</th>
            <th>Profession</th>
            <th>Class</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-char>
        <tr>
            <td>{{char["arm:hasName"]}}</td>
            <td>{{char["arm:hasProfession"]}}</td>
            <td></td>
        </tr>
    </ng-template>
</p-table>
</div>
