<div class="p-grid">
   <div class="p-col-4">
      <p-card>
         <div style="font-size: 65%;" class="p-grid">
            <div class="p-col-6">Technique</div>
            <div class="p-col-3">Score</div>
            <div class="p-col-3">XP</div>
         </div>
         <app-art [trait]="ablist['Creo']"></app-art>
         <app-art [trait]="ablist['Intellego']"></app-art>
         <app-art [trait]="ablist['Muto']"></app-art>
         <app-art [trait]="ablist['Perdo']"></app-art>
         <app-art [trait]="ablist['Rego']"></app-art>
      </p-card>
   </div>
   <div class="p-col-4">
      <p-card>
         <div style="font-size: 65%;" class="p-grid">
           <div class="p-col-6">Form</div>
           <div class="p-col-3">Score</div>
           <div class="p-col-3">XP</div>
         </div>
         <app-art [trait]="ablist['Animal']"></app-art>
         <app-art [trait]="ablist['Aquam']"></app-art>
         <app-art [trait]="ablist['Auram']"></app-art>
         <app-art [trait]="ablist['Corpus']"></app-art>
         <app-art [trait]="ablist['Herbam']"></app-art>
      </p-card>
   </div>
   <div class="p-col-4">
      <p-card>
         <div style="font-size: 65%;" class="p-grid">
           <div class="p-col-6">Form</div>
           <div class="p-col-3">Score</div>
           <div class="p-col-3">XP</div>
         </div>
         <app-art [trait]="ablist['Ignem']"></app-art>
         <app-art [trait]="ablist['Imaginem']"></app-art>
         <app-art [trait]="ablist['Mentem']"></app-art>
         <app-art [trait]="ablist['Terram']"></app-art>
         <app-art [trait]="ablist['Vim']"></app-art>
      </p-card>
   </div>
</div>
