<div class="p-grid">
   <div class="p-col-4">
      <b>Name:</b> {{get("name")}} <br>
      <b>Gender:</b> {{get("hasGender")}} <br>
      <b>Size:</b> {{get("hasSize")}} <br>
      <b>Profession:</b> {{get("hasProfession")}} <br>
   </div>
   <div class="p-col-4">
      <b>Alma Mater:</b> {{get("hasAlmaMater")}} <br>
      <b>Nationality:</b> {{get("hasNationality")}} <br>
      <b>Age:</b> {{get("age")}} <br>
      <b>Born:</b> {{get("hasBirthYear")}} <br>
   </div>
   <div class="p-col-4">
      <b>Saga:</b> {{get("hasSagaTitle")}} <br>
      <b>Player:</b> {{get("hasPlayer")}} <br>
      <b>Storyguide:</b> {{get("hasSG")}} <br>
   </div>
</div>

