<h2>Character Sheet for {{char}} {{time}}</h2>

<div class="p-grid">
  <div class="p-col">
    <div class="p-col-12">
       <app-charhead [charsheet]="this.charsheet"></app-charhead>
    </div>
    <div class="p-col-12">
      <p-panel header="Characteristics" [toggleable]="true" class="dark-panel">
        <app-characteristics [charlist]="get('charlist')"></app-characteristics>
      </p-panel>
    </div>
    <div class="p-col-12">
      <p-panel header="Personality Traits" [toggleable]="true" class="dark-panel">
        <app-ptrait [ptrait]="get('hasPersonalityTrait')"></app-ptrait>
      </p-panel>
    </div>
    <div class="p-col-12">
      <p-panel header="Reputations" [toggleable]="true" class="dark-panel">
        <app-reputation [reputation]="get('hasReputation')"></app-reputation>
      </p-panel>
    </div>
  </div>
  <div class="p-col">
    <p-panel header="Abilities" [toggleable]="true" class="dark-panel">
      <app-abilities [ablist]="get('ablist')"></app-abilities>
    </p-panel>
  </div>
</div>

<hr>

{{charsheet | json }}
<!--
-->

